/* Container.module.css */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Aplica o layout de "min-height" apenas na área de conteúdo principal */
.min-height {
  min-height: calc(100vh - 100px); /* Calcula a altura para empurrar o footer */
  flex-grow: 1;
}


.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}